<footer>
  <hr>
  <div class='container'>
    <p>
      <%= link_to 'Home', root_path %> ·
      <%= link_to "About", page_path('about') %>
    </p>

    <small>Crafted by Gordon Chan</small>
  </div>
</footer>